.filters-buttons {
  position: relative;
}

.select-box {
  padding: 0;
  margin: 5px;
  border: 2px solid #2c3e50;
  width: 140px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
  display: inline-block;
}

.select-box select {
  padding: 5px 8px;
  width: 130px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-box::after {
  top: 11px;
  left: 120px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.select-box select:focus {
  outline: none;
}

.bedroom-detail {
  margin-left: 200px;
}

.apt-buttons {
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}

button {
  padding: 5px 5px;
  margin-right: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  /* outline: none; */
}

.btn-avail {
  border: 2px solid #2c3e50;
  width: 30px;
  color: white;
  background-color: #334e6980;
}

.btn-unavail {
  border: 2px solid #2c3e508e;
  width: 30px;
  color: #2c3e50;
  background-color: white;
}

.filters {
  margin-left: 190px;
  position: relative;
  padding-top: 7px;
}

.apt-buttons-border {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 12px;
  height: 10px;
  width: 100%;
  border-bottom: 1px solid #2c3e50;
}
