* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 900px;
  background-color: white;
}

.header-bar {
  background-color: #2c3e50;
  width: 100%;
  padding: 10px;
  padding-left: 23px;
  margin-bottom: 5px;
  color: white;
  font-size: 1.5em;
}

row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 75%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.floorplan-svg {
  margin: auto;
}

.apt-buttons {
  padding: 10px;
}

.filters {
  padding-left: 5px;
  position: relative;
}

.select-box {
  padding: 0;
  margin: 5px;
  border: 2px solid #2c3e50;
  width: 140px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
}

.select-box select {
  padding: 5px 8px;
  width: 130px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-box::after {
  top: 11px;
  left: 120px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.select-box select:focus {
  outline: none;
}

button {
  background-color: #2c3e50;
  width: 30px;
  border: none;
  color: white;
  padding: 5px 5px;
  margin-right: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
}